<footer class="bg text-white text-center text-lg-start" style="background-color: rgba(44, 62, 80, 1);">

    <div class="container p-5">
      
      <div class="row py-5">
        
        <div class="col-lg-4 col-md-4 mb-4 mb-md-0 ">
          <h5 class="text-uppercase text-center">Location</h5>
  
          <p class="text-center">
            2215 John Daniel Drive
          </p>

          <p class="text-center">
            Clark, MO 65243
          </p>
        </div>
        
    
        <div class="col-lg-4 col-md-4 mb-4 mb-md-0">
          <h5 class="text-uppercase text-center">Around the Web</h5>
            <p class="text-center">Lorem, ipsum dolo</p>
        </div>
        

        <div class="col-lg-4 col-md-4 mb-4 mb-md-0">
            <h5 class="text-uppercase text-center">Around Freelancer</h5>
              <p class="text-center">Freelance is a free to use, licensed Bootstrap theme created by Route</p>
          </div>
      </div>
    </div>
  
    <div class="text-center p-4" style="background-color: rgba(26, 37, 47,1);">
        Copyright © Your Website 2021
    </div>
  </footer>