<h1 class="text-center py-5  Contact-header fw-semibold extra"> CONTACT SECTION </h1>
<div class="Contact-lines">
    <div class="line1"></div>
    <div class="icon-container"><img src="ng assets/images/star-svgrepo-com (1).png" alt=""></div>
    <div class="line2"></div>
</div>
    <div class="container my-5">
    <form>
        <div class="mb-3">
            <input type="text" class="form-control" id="userName" placeholder="Enter username">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="userAge" placeholder="Enter age">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="userEmail" placeholder="Enter email">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="userPassword" placeholder="Enter password">
        </div>
        <button type="submit" class="btn text-white" style="background-color: #1ABC9C;">Send message</button>
    </form>
    </div>