
    <h1 class="text-center my-5 py-5 portfolio-header fw-semibold"> PORTFOLIO COMPONENT </h1>
    <div class="portfolio-lines">
        <div class="line1"></div>
        <div class="icon-container"><img src="../../assets/images/star-svgrepo-com (1).png" style="width: 70%;" alt=""></div>
        <div class="line2"></div>
    </div>
    
    <div class="container m-5 ps-5">
      
      <div class="row gap-5">
        
        <div class="col-lg-3 col-md-4 mb-1 mb-md-0 me-5 ">
            <img src="../../assets/images/poert1.png" alt="">
        </div>
        

        <div class="col-lg-3 col-md-4 mb-1 mb-md-0 me-4 ms-5">
            <img src="../../assets/images/port2.png" alt="">

        </div>
        

        <div class="col-lg-3 col-md-4 mb-1 mb-md-0 ms-5">
            <img src="../../assets/images/port3.png" alt="">
        </div>

        <div class="col-lg-3 col-md-4 mb-4 mb-md-0 me-5 ">
            <img src="../../assets/images/poert1.png" alt="">
        </div>
        

        <div class="col-lg-3 col-md-4 mb-4 mb-md-0 me-4 ms-5">
            <img src="../../assets/images/port2.png" alt="">

        </div>
        

        <div class="col-lg-3 col-md-4 mb-4 mb-md-0 ms-5">
            <img src="../../assets/images/port3.png" alt="">
        </div>
    </div>
    </div>